#photo-txt{
    width: 100%;
    display: inline-block;
    background-color: black;
    height: fit-content;
    display: inline-block;
    position: relative;
}
#photo-txt h1{
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
}
